.allcontent {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.section {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(1200px);
  transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 60%;
  height: 100%;
  background-color: rgb(245, 245, 245);
  display: flex;
}
.section.click {
  transform: translateX(0);
}
.left-bar {
  display: flex;
  width: 4.5vw;
  height: 100%;
  justify-content: center;
  background-color: #ddd; /*영역을 눈으로 확인하려고 해놓음*/
}
.ham-btn {
  display: none;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
.ham-btn div {
  height: 8px;
  background-color: black;
  margin: 7px 0;
}
.basket-btn {
  width: 75px;
  height: 75px;
}
.basket {
  width: 100%;
  height: 100%;
}
.map {
  flex: 3;
  height: 100%;
  background-image: url("../img/map.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.map-btn {
  padding: 0.5rem 3rem;
  position: absolute;
  border-radius: 2rem;
  border: 2px solid #347deb;
  cursor: pointer;
  background-color: #fff;
}
.map-btn:active {
  background-color: #555;
}
.map-btn:nth-of-type(1) {
  top: 30%;
  left: 30%;
}
.map-btn:nth-of-type(2) {
  top: 65%;
  left: 30%;
}

.map-btn:nth-of-type(3) {
  top: 20%;
  left: 70%;
}

.map-btn:nth-of-type(4) {
  top: 30%;
  left: 80%;
}
.map-btn:nth-of-type(5) {
  top: 70%;
  left: 60%;
}
.put-in {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(245, 245, 245); /*영역을 눈으로 확인하려고 해놓음*/
}
.put-in-btn {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
}
.add {
  position: fixed;
  background-color: black;
  color: white;
  top: 2%;
  left: 87%;
}
.add img {
  width: 75px;
  height: 75px;
}
.content {
  width: 90%;
  height: 85%;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(400px, auto);
  gap: 10px;
  overflow: auto; /*스크롤바*/
  background-color: white; /*영역을 눈으로 확인하려고 해놓음*/
}
.content div {
  border: 1px solid black;
}
.content::-webkit-scrollbar {
  /*스크롤바시작*/
  width: 15px;
}
.content::-webkit-scrollbar-thumb {
  height: 30%;
  background-color: #222;
}
.content::-webkit-scrollbar-track {
  background-color: #aaa;
} /*스크롤바끝*/
.img {
  grid-column: 1;
  grid-row: 1;
  background-image: url("../img/acaimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.info {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
}
.info div {
  width: 100%;
  height: 100px;
}
.teacher {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
}
.teacher-introduce {
  width: 100%;
  height: 50px;
}
.teacher-info {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.teacher-info img {
  width: 30px;
  height: 30px;
}
.others {
  grid-column: 2;
  grid-row: 2;
  height: fit-content;
}

.btn_box {
  position: absolute;
  bottom: 1rem;
  left: 30rem;
}

.toSchedule {
  padding: 1rem 2rem;
  background-color: rgb(255, 175, 4);
  font-weight: bold;
}
.toSchedule:active {
  background-color: rgb(255, 104, 4);
}
.toHome {
  padding: 1rem 2rem;
  background-color: rgb(255, 175, 4);
  font-weight: bold;
}
.toHome:active {
  background-color: rgb(255, 104, 4);
}
