@import 'reset.css';


div.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(1000px);
    transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    height: 100%;
    width: 30rem;
    background-color: rgb(245, 245, 245);
    right: 0;
    display: flex;
    box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.2);

}

.basket-button {
    position: absolute;
    display: flex;
    background-color: rgb(70, 70, 70);
    color: white;
    width: 4rem;
    height: 4rem;
    right: 5rem;
    top: 3rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
}

.basket-button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 184);
}

.basket-button .count {
    position: absolute;
    display: none;
    top: -.5rem;
    right: -.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    text-align: center;
    line-height: 2rem;
    font-weight: bold;
}

div.wrapper.click {
    transform: translateX(0);
}

div.sub-wrapper {
    margin: 3rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.sub-wrapper h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

div.wrapper div.toggle_button {
    display: flex;
    background-color: rgb(233, 233, 233);
    align-items: center;
    padding: .5rem;
}



div.wrapper div.classes {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    min-height: 5rem;
    width: 100%;
    margin: .5rem 0;
    border-radius: .3rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 60, 0.1);
    padding: 1rem;
    cursor: pointer;
}

div.wrapper div.classes:hover {
    background-color: rgb(245, 245, 245);
}

div.wrapper div.classes:active {
    background-color: rgb(221, 221, 221);
}

div.wrapper div.classes div.content-section {
    margin: 0 1rem;
}

.title {
    font-size: 30px;
    color: rgb(46, 46, 46);
}

.sum {
    position: absolute;
    bottom: 2rem;
    left: 20%;
    font-size: 2rem;
    font-weight: bold;
}

.sub {
    font-size: 50px;
    text-align: center;
    margin-top: .8rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 50%;
    transition: linear 0.2s;
}

.sub:hover {
    cursor: pointer;
    background-color: red;
}