/*헤더*/
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  border: 2px solid #aaa; /*영역을 눈으로 확인하려고 해놓음*/
}
.logo {
  margin-left: 20px;
  padding: 15px 40px;
  border: 2px solid #aaa; /*영역을 눈으로 확인하려고 해놓음*/
}
.logo-img {
  width: 100%;
  height: 100%;
}
.rightside {
  margin-right: 20px;
  width: 100px;
  margin-left: auto;
  display: flex;
  align-items: center;
  border: 2px solid #aaa; /*영역을 눈으로 확인하려고 해놓음*/
}
.btn {
  width: 100%;
  min-width: 40px;
  height: 100%;
}
.rightside .btn:first-of-type {
  margin-right: 5px;
}
/*헤더 끝*/
/*주 내용*/
.section {
  width: 90vw;
  margin: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}
.search-bar {
  width: 90%;
  height: 50px;
  margin: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #aaa; /*영역을 눈으로 확인하려고 해놓음*/
}
.search-detail div {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: none;
}
.select-main {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-content div {
  font-size: 20px;
}
.select-content {
  margin-top: 15px;
  visibility: hidden;
}
.search-detail:hover .select-content {
  visibility: visible;
}
.search-btn {
  width: 100%;
  height: 100%;
}
.search-wall {
  border: 1px solid #aaa;
}
.content {
  margin-top: 100px;
  padding: 150px;
  text-align: center;
  border: 2px solid #aaa; /*영역을 눈으로 확인하려고 해놓음*/
}
/*주 내용 끝*/
