* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

aside {
    background-color: rgb(231, 231, 231);
    display: flex;
    height: 100%;
}

.payment_wrapper {
    background-color: rgb(206, 201, 201);
    display: flex;
    height: 100%;

}

article {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    position: relative;
}

#edu_list {
    margin: 40px;
    background-color: white;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

div.classes {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    min-height: 5rem;
    margin: .5rem 1rem;
    border-radius: .3rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 60, 0.1);
    padding: 1rem;
}

div.classes div.content-section {
    margin: 0 1rem;
}

.sub {
    font-size: 50px;
    text-align: center;
    margin-top: .8rem;
    width: 4rem;
    height: 4rem;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 50%;
    transition: linear 0.2s;
}

.sub:hover {
    cursor: pointer;
    background-color: red;
}

#box {
    position: relative;
    width: 80%;
    height: 70%;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;

}

#box div {
    background-color: rgb(255, 255, 255);
}

#box div h1 {
    padding: 4rem 10rem;
    border-radius: 15px;
    overflow-x: hidden;
}

#edu_list tr {
    margin-bottom: 10px;
}

#edu_list th {
    padding: 30px 120px;
    border: 1px solid grey;
    border-radius: 5px;
}

#box {
    width: 70vw;
    height: 70vh;
    background-color: rgb(206, 201, 201);
    border-radius: 20px;
    margin-left: 150px;
    position: relative;
}

#box table {
    border-radius: 30px;
    border-collapse: collapse;
    background-color: white;
    width: 40vw;
    height: 10vh;
    position: absolute;
    top: 20%;
    left: 17%;
}

#box table th:first-child {
    border-right: 1px solid grey;
}

button {
    width: 12vw;
    height: 4vw;
    position: absolute;
    bottom: 20%;
    left: 40%;
    border: none;
}

button:active {
    background-color: black;
    border-radius: 50px;
    position: absolute;
    top: 60%;
    left: 40%;
    border: none;
}